body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

.profile {
    background: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    height: 100vh;
}
