body {
    margin: 0;
    padding: 0;
}
img {
    border-radius: 100%;
    width: 300px;
}
h1 {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    font-family: sans-serif;
    cursor: pointer;
    margin: 0;
}
a {
    color: blue;
}

.black-heading-center {
    color: #222;
    text-align: center;
    font-size: 30px;
}

.data-table {
    width: 100%;
}

.data-table th {
    border: 1px #222 solid;
}

.data-table td {
    text-align: center;
    border: 1px #ccc solid;
}