.adminContainer
  font-family: lato, sans-serif;
  h1 
    color: black;
  .prevnext
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 30px 0px;
    padding: 30px;
    box-sizing: border-box;
    #next 
      grid-column: 2
    grid-gap: 10px;
    button 
      border: 0px; 
      padding: 10px 0px;
      background: lightgray;
  .search 
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    .clear 
      width: 100px;
      height: 40px;
      background: white;
      border: 0px;
      color: black;
  .searchForm
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    max-width: 500px;
    margin: 0px;
    label 
      align-self: center;
      justify-self: center;
  Button 
    cursor: pointer;
  .userlist
      display:grid;
      list-style:none;
      padding: 10px;
      box-sizing: border-box;
      text-decoration: none;
      width: 100%;
      grid-row-gap: 5px;
      li:nth-child(even) 
          background: #f2f2f2;
      li
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
          grid-gap: 30px;
          text-align:left;
          padding:10px;
          margin-bottom: 30px;
          font-size: .8em;
          span 
            padding: 10px;
          span:nth-child(even)
            background: #e2e2e2;
          span 
              display: grid;
              grid-template-rows: 1fr 1fr;