.dashboard-container 
    display: grid;
    grid-template-columns: 300px 1fr;
    width: 100%;
    height: 100%;
    .right-content 
        box-sizing: border-box;
        padding: 30px;
    .left-sidebar 
        background: #444444;
        color: white;
        padding: 10px 0 0 30px;
        .button 
            background: none;
            color: white;
            text-decoration: none;
            margin: 0px;
            &:hover
                color: lightgray;
