.historyContainer
  .posts
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
    margin-bottom: 10px;
    .time
      margin: 10px;
      text-align: right;
  .ithas 
    background: darkgray;
    color: white;
    &:hover 
      color: black;
  .react-calendar
    .react-calendar__month-view
      .react-calendar__month-view__days
        height: 200px;
      button 
        border: 0px;
        cursor: pointer;
        border: 1px solid lightgray;
        &:hover 
          color: blue;
          border: 1px solid black;
      .react-calendar__month-view__weekdays__weekday
        padding: 10px;
        text-align:center;
        abbr
          text-decoration: none !important
      .react-calendar__tile--active 
        background: #17d5ab !important