nav {
    display: flex;
    background: #003366;
    justify-content: center;
    font-size: 18px;
    text-transform: uppercase;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li,
    a {
        display: inline-block;
        color: #fff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
}

.container {
    max-width: 1080px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    flex-direction: column;
}

.form-container {
    background: #fff;
    margin: 20px;
    padding: 10px;
}

.heading {
    font-size: 30px;
    font-weight: 600;
}

.field {
    margin: 0;
    border: 0;
}

label {
    display: inline-block;
    min-width: 75px;
    padding: 10px;
}

input {
    padding: 10px 20px;
    margin: 10px 0;
}

.button {
    background: #003366;
    color: #fff;
    padding: 10px 20px;
    display: block;
    margin: 10px auto;
    min-width: 150px;
}

.success-message {
    background: #3d8645;
    color: #fff;
    text-align: center;
    padding: 10px 5px;
}

.error-message {
    background: #850000;
    color: #fff;
    text-align: center;
    padding: 10px 5px;
}