.postContainer 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 1fr;
  grid-gap: 30px;
  .previewContainer
    grid-column: 2;
    grid-row: 2;
  h2 
    grid-area: title;
    grid-row: 1
    grid-column: 1 / -1;
  .enabled 
    transition: .5s;
  form
    grid-row: 2;
    grid-column: 1;
    textarea
      max-height: 500px;
      max-width: 500px;
      height: 150px;
      width: 100%;
  #postText 
    padding: 15px;
  .error 
    grid-column: 1 / -1
  .successAnimation
    background: lightgreen;
    border: 0px;
    text-align: center;
    transition: .5s;
    &:after
      animation-duration: 1s
      animation-name: slidein
      animation-iteration-count: 1;
      content: '';
      height: 65px;
      width: 65px;
      background-size: 65px;
      position: absolute;
      margin-top: -20px;
      margin-left: 50px;
      background-image: url('./images/svg/Check1.svg');


@keyframes slidein {
  0% {
        background-image: url('./images/svg/Check.svg')
        opacity: 1;
  }

  100% {
        background-image: url('./images/svg/Check1.svg');
        opacity: 1;
  }
}