.settings-form {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-gap: 30px;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    background: lightgray;
    }

.clickable {
    cursor: pointer;
}

.alignleft {
    justify-content: flex-start;
}
.submit-success {
    width: 100%;
    background: green;
    justify-content: center;
    display: flex;
    padding: 10px;
    color: white;
    box-sizing: border-box;
    }