.images-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.images-container > div {
  display: flex;
  flex-direction: column;
  padding: 10px;
  min-width: 300px;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 0;
  width: inherit;
}

.pagination-container {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}

.prev-button, .next-button {
  justify-content: center;
  width: 100%;
  display: inherit;
}

button {
  padding: 10px 20px;
  color: #fff;
  background: #003366;
  border-radius: 5px;
}

.centered {
  text-align: center;
}

.form-container {
  background: #fcfcfc;
  padding: 20px;
  box-shadow: 2px 2px 5px 1px #999;
  border-radius: 5px;
  border: 1px #222 solid;
}

input {
  padding: 10px 20px;
}