{{>header}}

{{>nav}}
    {{!-- <div class="profile">

        <h1>{{htmlWebpackPlugin.options.title}}</h1>

        <p>{{htmlWebpackPlugin.options.loginText}}: <a href="login.html">Here!</a></p>
        Register here: 
    </div> --}}
    <div id="react-root"></div>
{{>footer}}